@model IEnumerable<FilmViewModel>
@{ 
  ViewData["Title"] = "Store";
}
<!DOCTYPE html>
<html>
<head>
  <title>Film Store</title>
</head>

<body>
  <h1>Welocme</h1>
  <p>Enjoy your favourite movies with the best quality.</p><hr />
  <div class="header">
    <h2>Hello!</h2>
    <p>Welcome to my film store. Here you can buy the best films according to your preferences.</p>
    <p>
      Store contains many films of various genres from different producers all over the world.
      From old noirs to fresh comedies. We guarantee that you find what you like.
    </p>
    <hr />
  </div>
  <div class="news">
    @if (Context.User.IsInRole("admin"))
    {
      //Add news
    }
     <!--News-->
    <h2>There should be some news.</h2>
  </div>
</body>

</html>