@model NewsViewModel
@{
  ViewData["Title"] = "Store";
}
<!DOCTYPE html>
<html>
<head>
  <title>Film Store</title>
</head>

<body>
  <h1>Welcome</h1>
  <p>Enjoy your favourite movies with the best quality.</p><hr />
  <div class="header">
    <h2>Hello!</h2>
    <p>Welcome to my film store. Here you can buy the best films according to your preferences.</p>
    <p>
      Store contains many films of various genres from different producers all over the world.
      From old noirs to fresh comedies. We guarantee that you find what you like.
    </p>
    <hr />
  </div>
  <div class="news">
    @if (Context.User.IsInRole("admin"))
    {
      <h5>Add News</h5>
      <form asp-action="NewsFeed" asp-controller="News" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label asp-for="Header">Header</label>
          <input class="form-control" asp-for="Header" style="width:40%" />
        </div>
        <div class="form-group">
          <label asp-for="Body">Body</label>
          <textarea class="form-control" asp-for="Body" rows="7" style="width:40%"></textarea>
        </div>
        <div class="form-group">
          <input type="file" asp-for="Image" accept="image/*"/><br>
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Save" />
        </div>
      </form>
      <hr />
    }
    <!--News-->
    <div class="news-feed" id="news-feed"></div>
  </div>
</body>

</html>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
  $(document).ready(function () {
    LoadNews();
  });
</script>
}