@{
  ViewBag.Title = "Admin panel";
}

  <head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  </head>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3>Films <a asp-action="Purchases" asp-controller="Admin">Purchases</a></h3>
    <a asp-action="AddFilm" class="btn btn-secondary" style="float:right">Add film</a>
    <p>
      Genre:
      <select class="custom-select searchClass" style="width:auto" name="GenreId" asp-items="@ViewBag.Genres">
        <option value="">All</option>
      </select>

      Country:
      <select class="custom-select searchClass" style="width:auto" name="CountryId" asp-items="@ViewBag.Countries">
        <option value="">All</option>
      </select>
      <br />
      <label>Title: </label>
      <input class="searchClass" type="text" placeholder="Title" name="SearchString" />
      <label> Producer: </label>
      <input class="searchClass" type="text" placeholder="Producer" name="ProducerName" />
      <br />
      <label>Year: </label>
      <input class="searchClass" type="number" placeholder="From" name="YearFrom" style="width:4rem" />
      <input class="searchClass" type="number" placeholder="To" name="YearTo" style="width:4rem" />
      <input class="btn btn-secondary" type="submit" value="Filter" onclick="Filter()" />
    </p>
  </div>

  <div class="panel-body"></div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
  $(document).ready(function () {
    Filter();
  });
</script>
}